
<p class="loading-msg" *ngIf="!isResponseReturned">
  <ngb-alert [type]="alertType" [dismissible]="false">
    <strong>{{loadingMessage}}</strong>
  </ngb-alert>
</p>
<table *ngIf="isResponseReturned" class="table table-borderless table-sm">
  <thead>
    <tr>
      <th scope="col">Prize</th>
      <th scope="col">Score</th>
      <th scope="col">Players</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of playersByScore; index as i">
      <td>{{tournaments[0].prizeData[resetIndex(i)]}} {{mapCurrencyToSymbol(tournaments[0].currency)}}</td>
      <td>
        {{ player?.score }}
      </td>
      <td>
        <p><ngb-progressbar type="secondary" [value]="player.players" [max]="maxNoOfPlayers">{{player?.players}}</ngb-progressbar></p>
      </td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
